body {
  font-family: 'Roboto', sans-serif;
  background-color: #f7fafc;
  color: #1a202c;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #f7fafc, #edf2f7); /* Degradado lineal */
  /* o */
  background: radial-gradient(circle, #f7fafc, #edf2f7); /* Degradado radial */
}

h1, h2, h3 {
  font-family: 'Monserrat', sans-serif;
  color: #1a202c;
}

a {
  color: #4299e1;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.App {
  max-width: 1200px;
  margin: 0 auto;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
