header {
    text-align: center;
    padding: 20px 0;
  }
  
  header img {
    max-width: 200px;
  }
  
  /* Media query para pantallas más pequeñas */
  @media (max-width: 768px) {
    header img {
      max-width: 150px; /* Logo más pequeño en tablets */
    }
  }
  
  @media (max-width: 480px) {
      header img {
          max-width: 100px; /* Logo más pequeño en telefonos */
      }
      header {
          padding: 10px 0; /* Menos padding en telefonos */
      }
  }